<div class="rule__item">
  <label class="rule__button">
    <input type="checkbox" name="checkbox" />
    <div class="checkbox__checkmark"></div>
    <div class="rule__text"><%= text %></div>
  </label>
</div>
