<div class="deploy">
  <div class="deploy__contracts">
    <p class="input-title">Contracts</p>
    <select></select>
  </div>
  <div class="deploy__info">
    <div class="deploy__info-abi">
      <i class="fas fa-code"></i>
      ABI
    </div>
    <div class="deploy__info-bytecodes">
      <i class="far fa-file-code"></i>
      Bytecodes
    </div>
  </div>
  <div class="deploy__run">
    <button class="deploy__run-deploy">Deploy</button>
    <button class="deploy__run-show-arguments">
      <i class="fas fa-minus"></i>
    </button>
  </div>
  <div class="deploy__arguments hidden"></div>
</div>
