<div class="interaction">
  <div class="interaction__chain">
    <p class="input-title">Chain</p>
    <select>
      <option>MainNet</option>
    </select>
  </div>
  <div class="interaction__from">
    <p class="input-title">From Address</p>
    <div class="interaction__from-list">
      <select></select>
      <button class="copy">
        <i class="fas fa-copy"></i>
      </button>
    </div>
  </div>
  <div class="interaction__gas">
    <p class="input-title">Gas Limit</p>
    <input type="number" value="3000000" />
  </div>
  <div class="interaction__value">
    <p class="input-title">Value</p>
    <div class="interaction__value-amount">
      <input type="number" value="0" min="0" />
      <select>
        <option value="eth">ETH</option>
        <option value="gwei">GWEI</option>
        <option value="wei">WEI</option>
      </select>
    </div>
  </div>
</div>
